@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
  input {
    border: none;
    outline: none;
  }
  button {
    outline: none;
  }
}

$main-gray: #666;
$medium-gray: #717171;
$light-gray: #a4a4a4;
$gray-btn: #cacaca;
$gray-border: #e1e2e3;
$blue-title: #36f;

#root {
  font-family: -apple-system, Helvetica, Arial, 'Nanum Gothic', sans-serif;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
